div#map {
    height: 500px;
    width: 50%;
}

div#review-display {
    height: 500px;
    border-style: solid;
    border-width: thin;
    overflow: scroll;
    text-align: center;
}

div.two-columns {
    margin-left: 1%;
    width: 98%;
    overflow: hidden;
}

div.right {
    width: 50%;
    float: left;
}

div.left {
    margin-left: 51%;
}

#dashboard {
    width: 1400px;
    margin: 50px auto;
    position: relative;
}

path {
    stroke: #fff;
}

path:hover {
    opacity:0.9;
}

rect:hover {
    fill:blue;
}

.axis {
    font: 10px ubuntu;
}

.legend tr {
    border-bottom:1px solid grey;
}

.legend tr:first-child { 
    border-top:1px solid grey;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    margin-bottom:200px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td {
    padding:4px 5px;
    vertical-align:bottom;
}

.legendScore, .legendPerc{
    align:right;
    width:50px;
}