div#map {
    height: 500px;
    width: 50%;
}

/*#floating-panel {
    position: absolute;
    top: 38.5%;
    left: 12%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'ubuntu','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}*/

#someCategories, #moreCategories {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
       -moz-column-count: 3; /* Firefox */
            column-count: 3;

    -webkit-column-width: 100px; /* Chrome, Safari, Opera */
       -moz-column-width: 100px; /* Firefox */
            column-width: 100px;
}

/*.more {
  display: none;
}
a.showLink, a.hideLink {
  text-decoration: none;
  color: #36f;
  padding-left: 8px;
  background: transparent url(down.gif) no-repeat left;
}
a.hideLink {
    background: transparent url(up.gif) no-repeat left;
}
a.showLink:hover, a.hideLink:hover {
    border-bottom: 1px dotted #36f;
}*/

div#review-display {
    height: 500px;
    border-style: solid;
    border-width: thin;
    overflow: scroll;
    text-align: center;
}

div.two-columns {
    margin-left: 1%;
    width: 98%;
    overflow: hidden;
}

div.right {
    width: 50%;
    float: left;
}

div.left {
    margin-left: 51%;
}

#dashboard {
    width: 1400px;
    margin: 50px auto;
    position: relative;
}

path {
    stroke: #fff;
}

path:hover {
    opacity:0.9;
}

rect:hover {
    fill:blue;
}

.axis {
    font: 10px ubuntu;
}

.legend tr {
    border-bottom:1px solid grey;
}

.legend tr:first-child { 
    border-top:1px solid grey;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    margin-bottom:200px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td {
    padding:4px 5px;
    vertical-align:bottom;
}

.legendScore, .legendPerc{
    align:right;
    width:50px;
}