<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    {% block head %}HEAD CONTENT GOES HERE{% endblock %}
  </head>
  <body>
    {% for flash in get_flashed_messages() %}
      {{ flash }}<br>
    {% endfor %}

    <a href="/home">Home</a>

    <a href="/analysis">Analysis</a>

    {% if not session.get("fname") %}
      <a href="/register">Register</a>
      <a href="/login">Sign in</a>
    {% endif %}

    {% if session.get("fname") %}
      <a href="/profile">{{ session["fname"] }}'s Profile</a>
      <a href="/logout">Sign Out</a>
    {% endif %}

    <hr>

    {% block content %}BODY CONTENT GOES HERE{% endblock %}
    </script>
  </body>
</html>

