{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    
    <!-- Map scripts -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&libraries=visualization&callback=initMap"></script>
    <script src="/static/js/map.js"></script>

{% endblock %}


{% block content %}
    
    <div class="container">

        Select a city to see its dog-friendly restaurants:
            <select id="city" name="location" required>

                <optgroup label="Arizona, United States">
                    {% for us_az_city in us_az_cities %}
                        <option value="{{ us_az_city }}, Arizona, United States">{{ us_az_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="California, United States">
                    {% for us_ca_city in us_ca_cities %}
                        <option value="{{ us_ca_city }}, California, United States" selected="selected">{{ us_ca_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Illinois, United States">
                    {% for us_il_city in us_il_cities %}
                        <option value="{{ us_il_city }}, Illinois, United States">{{ us_il_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Nevada, United States">
                    {% for us_nv_city in us_nv_cities %}
                        <option value="{{ us_nv_city }}, Nevada, United States">{{ us_nv_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="North Carolina, United States">
                    {% for us_nc_city in us_nc_cities %}
                        <option value="{{ us_nc_city }}, North Carolina, United States">{{ us_nc_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Pennsylvania, United States">
                    {% for us_pa_city in us_pa_cities %}
                        <option value="{{ us_pa_city }}, Pennsylvania, United States">{{ us_pa_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Wisconsin, United States">
                    {% for us_wi_city in us_wi_cities %}
                        <option value="{{ us_wi_city }}, Wisconsin, United States">{{ us_wi_city }}</option>
                    {% endfor %}
                </optgroup>
                
                <optgroup label="Canada">
                    {% for ca_city in ca_cities %}
                        <option value="{{ ca_city[0] }}, {{ ca_city[1] }}, Canada">{{ ca_city[0] }}, {{ ca_city[1] }}</option>
                    {% endfor %}
                </optgroup>

            </select>

        <button id="current-location" class="btn btn-primary btn-sm" type="button">Center on current location</button>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6" id="rec-display">
                <h3 style="text-align:center;">FETCH Recommendations for San Francisco</h3><hr>
                <div>
                    <p>Sorry, sentiment analysis scores are not yet available for San Francisco.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-md-pull-6">

                <h3>Filter by Categories</h3>

                    <p><input class="selectAll" type="checkbox" name="all-categories" value="Check all" checked>Select All
                    </p>

                <div id="someCategories">
                {% for category in categories %}
                    {% if category in selected_categories %}          
                        <input class="category" type="checkbox" name="category" value="{{ category }}" checked>{{ category }}<br>
                    {% endif %}
                {% endfor %}
                </div>

                <a data-toggle="modal" href="#myModal">See more categories</a>

                <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">More Categories</h4>
                    </div>
                    <div class="modal-body">
                        <p><input class="selectAll" type="checkbox" name="all-categories" value="Check all" checked>Select All</p>
                        <div id="moreCategories">
                            {% for category in categories %}
                                {% if category not in selected_categories %}         
                                    <input class="category" type="checkbox" name="category" value="{{ category }}" checked>{{ category }}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
                </div>

            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-xs-6" id="map">Map should render here</div>
            <div class="col-xs-6" id="review-display">Click on a restaurant to display its reviews.</div>
        </div>
    </div>

{% endblock %}
