{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&libraries=visualization&callback=initMap"></script>
    <script src="/static/js/map.js"></script>

{% endblock %}


{% block content %}
    
    <div>

        Pick a city with dog-friendly restaurants:
            <select id="city" name="location" required>

                <optgroup label="Arizona, United States">
                    {% for us_az_city in us_az_cities %}
                        <option value="{{ us_az_city }}, Arizona, United States">{{ us_az_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="California, United States">
                    {% for us_ca_city in us_ca_cities %}
                        <option value="{{ us_ca_city }}, California, United States" selected="selected">{{ us_ca_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Illinois, United States">
                    {% for us_il_city in us_il_cities %}
                        <option value="{{ us_il_city }}, Illinois, United States">{{ us_il_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Nevada, United States">
                    {% for us_nv_city in us_nv_cities %}
                        <option value="{{ us_nv_city }}, Nevada, United States">{{ us_nv_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="North Carolina, United States">
                    {% for us_nc_city in us_nc_cities %}
                        <option value="{{ us_nc_city }}, North Carolina, United States">{{ us_nc_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Pennsylvania, United States">
                    {% for us_pa_city in us_pa_cities %}
                        <option value="{{ us_pa_city }}, Pennsylvania, United States">{{ us_pa_city }}</option>
                    {% endfor %}
                </optgroup>

                <optgroup label="Wisconsin, United States">
                    {% for us_wi_city in us_wi_cities %}
                        <option value="{{ us_wi_city }}, Wisconsin, United States">{{ us_wi_city }}</option>
                    {% endfor %}
                </optgroup>
                
                <optgroup label="Canada">
                    {% for ca_city in ca_cities %}
                        <option value="{{ ca_city[0] }}, {{ ca_city[1] }}, Canada">{{ ca_city[0] }}, {{ ca_city[1] }}</option>
                    {% endfor %}
                </optgroup>

            </select>

        <button id="current-location" class="btn btn-primary btn-sm" type="button">Center on current location</button><br><br>
        
        <input id="selectAll" type="checkbox" name="all-categories" value="Check all" checked>Select All
        <br>

    {% for category in categories %}          
        <input class="category" type="checkbox" name="category" value="{{ category }}" checked>{{ category }}
    {% endfor %}
    
    </div><br>

    <div class="two-columns">
<!--         <div id="floating-panel">
          <button onclick="toggleHeatmap()">Toggle Heatmap</button>
          <button onclick="changeGradient()">Change gradient</button>
          <button onclick="changeRadius()">Change radius</button>
          <button onclick="changeOpacity()">Change opacity</button>
        </div> -->

        <div id="map" class="right">Map should render here</div>

        <div id="review-display" class="left"> Click on a restaurant to display its reviews. </div>
    </div>
{% endblock %}