{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap"></script>
    <script src="/static/js/map.js"></script>

{% endblock %}


{% block content %}
    
    <div id="floating-panel">
        <input id="address" type="textbox" placeholder="Enter location">
        <input id="submit" type="button" value="Center map">

        <button id="current-location" type="button">Center on current location</button><br>
        
        <input id="selectAll" type="button" value="Check all">
        <br>
        {% for category in categories %}          
            <input class="category" type="checkbox" name="category" value="{{ category }}">{{ category }}
        {% endfor %}

    </div>

    <div id="map"></div>

{% endblock %}