{% extends 'base.html' %}

{% block title %}

    {{ user.fname }}'s Profile

{% endblock %}

{% block head %}
    
{% endblock %}


{% block content %}
    
    <h2>{{ user.fname }}'s Profile</h2>
    
    <p>Restaurants you've favorited:</p>

        <ul>
            {% for value in favorites.values() %}
                <li><a href='/restaurants/{{ value["r_id"] }}'>{{ value["name"] }}</a></li>
            {% endfor %}
        </ul>

    <p>Restaurants you've reviewed:</p>

        <ul>
            {% for value in reviews.values() %}
                <li><a href='/restaurants/{{ value["r_id"] }}'>{{ value["name"] }}</a>: {{ value["rating"] }}</li>
                {{ value["body"] }}<br><br>
            {% endfor %}
        </ul>

{% endblock %}