{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block head %}

    <script src="/static/js/register-form.js"></script>

{% endblock %}


{% block content %}
    
    <h1>Register</h1>

    <form id="register-form" action="/registered" method="POST">
        <input id="username" type="text" name="username" placeholder="choose a username" required><br><br>
        <input type="password" name="password" placeholder="password" required><br><br>
        <input type="password" name="password1" placeholder="verify password" required><br><br>
        <input type="text" name="fname" placeholder="first name (optional)"><br><br>
        <input type="text" name="lname" placeholder="last name (optional)"><br><br>
        <input type="submit">
    </form>

{% endblock %}