{% extends 'base.html' %}

{% block title %}

    Review {{ name }}

{% endblock %}




{% block head %}
    
{% endblock %}




{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-5">

                <h1>Review <b>{{ name }}</b></h1>

                <form id="review-form" action="/restaurants/{{ restaurant.restaurant_id }}/review" method="POST">
                    <p>Rate out of 5 stars:</p>
                    {% for n in [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5] %}
                        <input id="rating" type="radio" name="rating" value="{{ n }}" required> {{ n }}
                    {% endfor %}<br><br>
                    <textarea form="review-form" name="review-body" rows="10" cols="50" placeholder="Write your review here!" required></textarea>
                    <br><br>
                    <input class="btn btn-primary btn-sm" type="submit">
                </form>

            </div>
        </div>
    </div>




    
{% endblock %}
