{% extends 'base.html' %}

{% block title %}{{ state }} Scores{% endblock %}

{% block head %}
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/sa-score-cities.js"></script>

    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/analysis">States</a></li>
                <li class="active">{{ state }}</li>
            </ul>
        </div>
    </div>

    <script>
        // Retrieve the jsonified Python dictionary of restaurants with AJAX
        $.get('/analysis/state.json', function (scoreData_dict) {
            var scoreData = scoreData_dict["scoreData"];

            // Create dashboard with id (for div element) and data
            dashboard('#dashboard',scoreData);
        });
    </script>

{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Dog Friendly Restaurants in {{ state }}</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id='dashboard'></div>
            </div>
        </div>
    </div>

{% endblock %}