{% extends 'base.html' %}

{% block title %}State Scores{% endblock %}

{% block head %}
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/sa-score.js"></script>

    <script>
        // Retrieve the jsonified Python dictionary of restaurants with AJAX
        $.get('/analysis.json', function (scoreData_dict) {
            var scoreData = scoreData_dict["scoreData"];

            // Create dashboard with id (for div element) and data
            dashboard('#dashboard',scoreData);
        });
    </script>

{% endblock %}

{% block content %}

Pick a state:
    <select id="state" name="location">

        {% for location in locations %}
            <option value="{{ location[0] }}, {{ location[1] }}">
                {{ location[0] }}, {{ location[1] }}
            </option>
        {% endfor %}
    </select>

<div id='dashboard'></div>

{% endblock %}